input {
  text-align: center;
  color: blue;
  font-size: 30px;
  width: 80px;
  height: 40px;
  display: block;
  border: 0px solid goldenrod;
}

input:focus {
  outline: none !important;
  border: 1px solid goldenrod;
  box-shadow: 0 0 10px #719ece;
}
