<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"> Small Sudoku Helper</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="onNew()">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onLoad()">Load</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onSave()">Save</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onUndo()">Undo</a>
    </li>
  </ul>
</nav>

<!-- the sudoku-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <!-- sudoku grid -->
  <div class="row">
    <div class="col-8">
      <app-small-sudoku-grid [sudoku]="sudoku" (cellChanged)="onNewVal($event)"></app-small-sudoku-grid>
    </div>

    <!-- undo sequence -->
    <div class="col-4">
      <span *ngFor="let item of undoSequence" class="undoItem">
        <app-small-sudoku-undo-item [item]="item" [level]="level"></app-small-sudoku-undo-item>
      </span>
    </div>
  </div>

  <div class="row"></div>
</div>
